.vision__hero {
    display: flex;
    justify-content: space-between;
    padding: 15px 180px;
    padding-top: 65px;
    background: #000;
}

.vision__hero h2 {
    display: flex;
    flex-direction: column-reverse;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    opacity: .88;
    font-family: inherit;
    text-align: inherit;
    color: #fff;
}

.vision__hero__right {
    display: flex;
    gap: 25px;
}

.vision__hero__right h3 {
    float: inherit;
    font-size: 1em;
    font-family: inherit;
    font-weight: 600;
    color: #fff;
    margin-top: 5px;
}

.vision__hero__right button {
    background: blue;
    border-radius: 20px;
    padding: 0 15px;
    color: #fff;
    transition: .4s ease-in-out;
}

.vision__hero__right button:hover {
    background: transparent;
    border: 2px solid #fff;
}

.img {
    width: 100%;
}